<div class="wrapper">
  <app-toast></app-toast>
  <div class="card">
    <h3 class="card-header bg-primary text-white">Configuración</h3>
    <div class="card-body">
      <h5 class="card-title">Introduzca los parámetros de configuración</h5>
      <form [formGroup]="configForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
        </div>
        <div class="mb-3">
          <label for="apellido" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="apellido" formControlName="apellido" required>
        </div>
        <div class="mb-3">
          <label for="alias" class="form-label">Alias</label>
          <input type="text" class="form-control" id="alias" formControlName="alias" required>
        </div>
        <div class="text-right">
          <button class="btn btn-primary" type="submit" [disabled]="!configForm.valid">Enviar</button>
        </div>
      </form>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
