/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

$background-color: #edf2f9;
$color-inverse: #ffffff;

html,
body {
  height: 100%;
}

body {
  background-color: $background-color;

  .card {
    box-shadow: 0 7px 14px 0 rgb(65 69 88 / 10%), 0 3px 6px 0 rgb(0 0 0 / 7%);

    .card-header {
      color: $color-inverse;
    }

    .card-title {
      margin-bottom: 1.5rem;
    }

    button {
      &[disabled] {
        cursor: not-allowed;
      }
    }
  }
}
